In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

from pydataset import data

# Simulating Chuck a Luck

## "Pay a Buck and Chuck-a-Luck" 

[Chuck-a-Luck](https://en.wikipedia.org/wiki/Chuck-a-luck) is a game of chance often associated with charity fundraisers or street gambling rather than casinos. 
```
To play, the House says, "Pay $1, pick a number and roll 3 dice. If any of those dice come up, you'll win $1, $2, or $3". 

> "It's even odds", they say, "because the probability of rolling your number is 1/6 and you get to roll 3 dice! 1/6 + 1/6 + 1/6 is 3/6 which is 1/2". 

You know better than this, so it's time to make an experiment to approximate the actual risk and payoff...

Rules:
- The player pays $1 to play and picks a number.
- The House rolls 3 dice at once.

- Payouts:
  - $3 if all three dice match the chosen number
  - $2 if exactly two dice match the chosen number
  - $1 is exactly one of the dice matches the chosen number
  - If none of the dice match the player's chosen number, then the House keeps the $1.
  
```
Exercises:
- If you play 1,000,000 games in a row, what are your winnings/losses?
- Chart out a histogram of all the outcomes of those 1,000,000 games
- Is this really a fair game of 1/6 + 1/6 + 1/6 odds?
|- If you were to extrapolate the expected winnings per game, what would that number approach per game?

In [3]:
die = [1, 2, 3, 4, 5, 6]
pick = 3
roll = np.random.choice(die, size=(1_000_000, 3))

In [27]:
odds_hitting_pick = ((roll == pick).sum(axis=1) > 0).mean()
odds_hitting_pick_twice = ((roll == pick).sum(axis=1) > 1).mean()
odds_hitting_pick_thrice = ((roll == pick).sum(axis=1) > 2).mean() 

print('The probability of rolling your number at least once is', odds_hitting_pick)
print('The probability of rolling your number at least twice is', odds_hitting_pick_twice)
print('The probability of rolling your number at least 3 times is', odds_hitting_pick_thrice)

The probability of rolling your number at least once is 0.420982
The probability of rolling your number at least twice is 0.074308
The probability of rolling your number at least 3 times is 0.004616

In [4]:
df = pd.DataFrame((roll == pick).sum(axis=1))`

In [13]:
# df.columns = ['pick_hits']
# df['payout'] = df.pick_hits
df

        pick_hits  payout
0               1       1
1               2       2
2               1       1
3               0       0
4               0       0
...           ...     ...
999995          0       0
999996          0       0
999997          0       0
999998          1       1
999999          0       0

[1000000 rows x 2 columns]

In [10]:
df.payout.mean()

0.499906