For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

1. Has the network latency gone up since we switched internet service providers?
2. Is the website redesign any good?
3. Is our television ad driving more sales?

1.  
    - H0 = No significant change in network latency
    - H1 = There is a significant change
    - 
    - TP = New ISP has higher latency
    - TN = New ISP has equal or lower latency
    - Type 1 error = 
    - Type 2 error =

2.  
    - H0 = No significant change in website traffic
    - H1 = There is a significant change in website traffic and clicks
    - 
    - TP = Website traffic and clicks increased 
    - TN = Web traffic has not changed
    - Type 1 error = Lower load times, more menus, hard to read webpage could increase web traffic because the website isn't good
    - Type 2 error = Website redesign could be too good and efficient, that website traffic was indirectly reduced

3.  
    - H0 = The TV ad had no effect on sales
    - H1 = The TV ad had a positive effect on sales
    - 
    - TP = Since implementing the TV ad, sales have increase
    - TN = Since implementing the TV ad, sale did not change
    - Type 1 error = The sales have increased because of other factors that do not include the TV ad, i.e. vehicle sales, booming economy, sales people working harder, etc. 
    - Type 2 error = The sales have not changed or decreased due to other factors, i.e. economic recessions, high interest rates, etc.

In [1]:
from pydataset import data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy import stats

1. 
Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [2]:
office_one = 90, 15, 40
office_two = 100, 20, 50

In [3]:
null_hyp = "No significant change in time to sell homes between both offices"
alt_hyp = "There is a significant change in time it takes to sell a home between both offices "

confid = .95
a = 1 - confid

In [4]:
t, p = stats.ttest_ind_from_stats(90,15,40, 100,20,50)
t, p

(-2.6252287036468456, 0.01020985244923939)

In [5]:
if p < a:
    print(alt_hyp)
else:
    print(null_hyp)

There is a significant change in time it takes to sell a home between both offices

Load the mpg dataset and use it to answer the following questions:

In [6]:
mpg = data("mpg")
mpg.head(2)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact

In [7]:
mpg['avg_mpg'] = (mpg.hwy + mpg.cty) / 2
mpg.head(2)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [8]:
new_cars = mpg[mpg.year == 2008]
old_cars = mpg[mpg.year == 1999]

null_hyp = "There is no change in fuel-efficiency in 2008 and 1999"
alt_hyp = "There is a significant difference in fuel-efficiency in 2008 vs. 1999"

In [9]:
confid = .95
a = 1 - confid

In [10]:
t, p = stats.ttest_ind(new_cars.avg_mpg, old_cars.avg_mpg)
t, p

(-0.21960177245940962, 0.8263744040323578)

In [11]:
if p < a:
    print(alt_hyp)
else:
    print(null_hyp)

There is no change in fuel-efficiency in 2008 and 1999

- Are compact cars more fuel-efficient than the average car?

In [12]:
def compact(x):
    if x == 'compact':
        return 1
    else:
        return 0

In [13]:
mpg['is_compact'] = mpg['class'].apply(compact)

In [14]:
compact_car = mpg[mpg.is_compact == 1]
non_compact = mpg[mpg.is_compact == 0]

null_hyp = "There is no change in fuel-efficiency whether it is classified as a compact car or not."
alt_hyp = "Compact cars have a higher fuel efficiency than other cars."

conifd = .95
a = 1 - confid

In [15]:
t, p = stats.ttest_ind(compact_car.avg_mpg, non_compact.avg_mpg) 
t, p

(6.731177612837954, 1.3059121585018135e-10)

In [16]:
if (p/2) < a and t > 0:
    print(alt_hyp)
else:
    print(null_hyp)

Compact cars have a higher fuel efficiency than other cars.

- Do manual cars get better gas mileage than automatic cars?

In [17]:
mpg.head(1)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mpg,is_compact
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,1

In [18]:
def transmission(x):
    if x[0] == "m":
        return 1
    else:
        return 0

In [19]:
mpg['is_manual'] = mpg.trans.apply(transmission)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mpg,is_compact,is_manual
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,1,0
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,1,1
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,1,1
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,1,0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,1,0

In [20]:
manual = mpg[mpg.is_manual == 1]
automatic = mpg[mpg.is_manual == 0]

null_hyp = "There is no change in fuel-efficiency whether the car has a manual or automatic transmission" 
alt_hyp = "Manual cars have a higher fuel efficiency automatics."

confid = .95
a = 1 - confid

In [21]:
t, p = stats.ttest_ind(manual.avg_mpg, automatic.avg_mpg)
t, p

(4.593437735750014, 7.154374401145683e-06)

In [22]:
if (p/2) < a and t > 0:
    print(alt_hyp)
else:
    print(null_hyp)

Manual cars have a higher fuel efficiency automatics.

Q1. Load “Cust_Churn_Telco.csv” data. Using this data answer the following questions:
- Is the mean of monthly charges of customers who churn significantly higher than the mean across all customers?
- Is the mean of monthly charges of customers who churn significantly higher than the mean of those who don't churn?

In [32]:
telco = pd.DataFrame(pd.read_csv("Cust_Churn_Telco - Cust_Churn_Telco.csv"))
telco.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

- Is the mean of monthly charges of customers who churn significantly higher than the mean across all customers?

In [39]:
churn = telco[telco.Churn == "Yes"]
stay = telco[telco.Churn == "No"]

null_hyp = "There is no significant difference in the monthly charges of people who churn and people who stay."
alt_hyp = "People who churn have higher monthly charges than the population"

confid = .95
a = 1 - confid

In [45]:
t, p = stats.ttest_1samp(churn.MonthlyCharges, telco.MonthlyCharges.mean())
t, p

(16.965403080505645, 3.7406392993841064e-60)

In [46]:
if p < a:
    print(alt_hyp)
else:
    print(null_hyp)

People who churn have higher monthly charges than the population

- Is the mean of monthly charges of customers who churn significantly higher than the mean of those who don't churn?

In [51]:
null_hyp = "There is no significant difference in the monthly charges of people who churn and people who stay."
alt_hyp = "People who churn have higher monthly charges than people who stay."

confid = .95
a = 1 - confid

In [52]:
t, p = stats.ttest_ind(churn.MonthlyCharges, stay.MonthlyCharges)
t, p

(16.53673801593631, 2.706645606888261e-60)

In [53]:
if (p/2) < a and t > 0:
    print(alt_hyp)
else:
    print(null_hyp)

People who churn have higher monthly charges than people who stay.

Q2. Load Iris dataset from pydataset or sns. Using this data answer the following questions:

In [58]:
iris = data("iris")
iris.sample(5)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
92            6.1          3.0           4.6          1.4  versicolor
129           6.4          2.8           5.6          2.1   virginica
119           7.7          2.6           6.9          2.3   virginica
125           6.7          3.3           5.7          2.1   virginica
111           6.5          3.2           5.1          2.0   virginica

In [65]:
iris.columns = ['sep_len', 'sep_wid','pet_len','pet_wid','species']
iris.head(2)

   sep_len  sep_wid  pet_len  pet_wid species
1      5.1      3.5      1.4      0.2  setosa
2      4.9      3.0      1.4      0.2  setosa

- Is the sepal length significantly different between Veriscolor and Virginica?

In [70]:
versicolor = iris[iris.species == 'versicolor']
virginica = iris[iris.species == 'virginica']
setosa = iris[iris.species == 'setosa']

null_hyp = "There is no significant difference in the sepal length of species versicolor and virginica."
alt_hyp = "There is a significant difference in sepal length of species versicolor and virginica."

confid = .95
a = 1 - confid

In [66]:
t, p = stats.ttest_ind(versicolor.sep_len, virginica.sep_len)
t, p

(-5.629165259719801, 1.7248563024547942e-07)

In [74]:
if (p/2) < a:
    print(alt_hyp)
else:
    print(null_hyp)

There is a significant difference in sepal length of species setosa and virginica.

- Is the sepal length significantly different between Setosa and Virginica?

In [71]:
null_hyp = "There is no significant difference in the sepal length of species setosa and virginica."
alt_hyp = "There is a significant difference in sepal length of species setosa and virginica."

In [72]:
t, p = stats.ttest_ind(setosa.sep_len, virginica.sep_len)
t, p

(-15.386195820079404, 6.892546060674059e-28)

In [77]:
if (p/2) < a:
    print(alt_hyp)
else:
    print(null_hyp)

There is a significant difference in sepal length of species setosa and virginica.